<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751018337228-rbc62j4c1lcdr034gk3o8aq3837id86t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751018337228-rbc62j4c1lcdr034gk3o8aq3837id86t</string>
	<key>API_KEY</key>
	<string>AIzaSyCaP4yLclzOhm49x16dBHG-Ssp0P3aEdqA</string>
	<key>GCM_SENDER_ID</key>
	<string>751018337228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CMoney.RichPigAction4</string>
	<key>PROJECT_ID</key>
	<string>richpigaction4</string>
	<key>STORAGE_BUCKET</key>
	<string>richpigaction4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751018337228:ios:10be60791da41072f1f369</string>
	<key>DATABASE_URL</key>
	<string>https://richpigaction4.firebaseio.com</string>
</dict>
</plist>